/* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/


.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.headerContainer01
{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

.headerContainer02
{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
	font-weight: bold;
}


.contentContainer01
{
	
}

.contentContainer02
{

}

.header01
{
	font-size: 3.0vw;
	color: #2891FF;
}

.header02
{
	text-align: center;
	font-size: 2.0vw;
	color: #2891FF;
}

.img01
{
	width:95%;
}

.img02
{
	width:100%;
}

.pContent01
{
	font-size: 1.0vw;
	margin-left: 20px;
	margin-right: 20px;
}
