span.Container30, div.Container30
{
	width: 30%;
}
div.Container100
{
	width: 100%;
}

div.LightBlueRounded
{
 border-radius: 25px;
  background: #EDF5FF;
  padding: 20px; 
  width: 100%;
}

img.Rounded, div.Rounded
{
	border-radius: 25px;
	width: 100%;
}

img.Circle
{
	border-radius: 50%;
	height: 6vw;
}

div.DarkBlueRounded
{
	border-radius: 25px;
	background-color: #458EDA;
	padding: 20px; 
	width: 100%;
}

