/*

* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
  * {
	outline: 1px solid red;
  }

*/

/*
    gutters refers to the predefined spaces put between columns when using Bootstrap.css to prevent these gutters from appearing
    we add a simple line of code called .no-gutters that removes all  predefined spaces for us
*/
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}