div.VideoContentContainerFull
{
  z-index: 3;
  float: top;
  width: 100%;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

div.VideoContentContainerHalfCenter
{
  z-index: 3;
  float: top;
  width: 70%;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

img.FillContainer
{
	width:100%;
}

div.ACMLogoContainer
{
  z-index: 3;
  float: top;
  width: 25%;

  position: fixed;
	top: 100%;
	left: 18%;
	transform: translate(-50%, -50%);
}

div.VideoTextContainerCenter
{
 z-index: 3;
  float: top;
  width: 90%;

  position: fixed;
	top: 50%;
	left: 60%;
	transform: translate(-50%, -50%);
}


div.VideoContentFooter
{
  z-index: 2;
  width: 100%;
  position: absolute;
	top: 83%;
	left: 50%;
	transform: translate(-50%, -50%);
}

div.VideoContentFooterHalfCenter
{
  z-index: 2;
  width: 50%;
  position: absolute;
	top: 88%;
	left: 50%;
	transform: translate(-50%, -50%);
}


div.ArrowIconContainer
{
	width: 20%;
	position: absolute;
	top:  215%;
	left: 50%;
	transform: translate(-50%, -50%);
}

