input, input:focus, textarea, textarea:focus 
{
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 0 0.5pt grey;
    outline: none;
    transition: .1s;
}

button.W30
{
 width: 30%;
  border-radius: 25px;
}

@media all and (max-width: 768px) {

    img.ContactUsCircle
    {
        border-radius: 50%;
        width: 80%;
        height: 30vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media all and (min-width: 768px) {

    img.ContactUsCircle
    {
        border-radius: 50%;
        width: 80%;
        height: 12vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}





